gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Local pinned sing-box Android AAR (build artifact, downloaded by build_android.bat)
android/app/libs/libbox.aar
android/app/libs/libbox-*.aar
