{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "experimental": {
    "cache_file": {
      "enabled": false
    }
  },
  "dns": {
    "servers": [
      {
        "type": "https",
        "tag": "cloudflare",
        "server": "1.1.1.1",
        "path": "/dns-query",
        "detour": "auto"
      },
      {
        "type": "local",
        "tag": "local",
        "detour": "direct"
      }
    ],
    "rules": [
      {
        "outbound": "any",
        "server": "local"
      },
      {
        "clash_mode": "direct",
        "server": "local"
      }
    ],
    "strategy": "ipv4_only",
    "final": "cloudflare"
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "mixed-in",
      "listen": "127.0.0.1",
      "listen_port": 20808
    }
  ],
  "outbounds": [
    {
      "type": "urltest",
      "tag": "auto",
      "outbounds": [
        "grpc-nl",
        "grpc-fr",
        "httpupgrade-nl",
        "httpupgrade-fr",
        "vless-nl",
        "vless-fr",
        "hysteria2-nl"
      ],
      "url": "https://www.gstatic.com/generate_204",
      "interval": "30s",
      "tolerance": 50
    },
    {
      "type": "vless",
      "tag": "grpc-fr",
      "server": "YOUR_VPS_IP",
      "server_port": 30843,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      },
      "transport": {
        "type": "grpc",
        "service_name": "snowden"
      }
    },
    {
      "type": "vless",
      "tag": "httpupgrade-fr",
      "server": "YOUR_VPS_IP",
      "server_port": 20843,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      },
      "transport": {
        "type": "httpupgrade",
        "path": "/snowden",
        "headers": {
          "Host": "YOUR_DOMAIN_FR.nip.io"
        }
      }
    },
    {
      "type": "vless",
      "tag": "vless-fr",
      "server": "YOUR_VPS_IP",
      "server_port": 443,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      }
    },
    {
      "type": "vless",
      "tag": "grpc-nl",
      "server": "YOUR_VPS_IP",
      "server_port": 30843,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      },
      "transport": {
        "type": "grpc",
        "service_name": "snowden"
      }
    },
    {
      "type": "vless",
      "tag": "httpupgrade-nl",
      "server": "YOUR_VPS_IP",
      "server_port": 20843,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      },
      "transport": {
        "type": "httpupgrade",
        "path": "/snowden",
        "headers": {
          "Host": "YOUR_DOMAIN_NL.nip.io"
        }
      }
    },
    {
      "type": "vless",
      "tag": "vless-nl",
      "server": "YOUR_VPS_IP",
      "server_port": 443,
      "uuid": "YOUR_UUID",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io",
        "utls": {
          "enabled": true,
          "fingerprint": "firefox"
        }
      }
    },
    {
      "type": "hysteria2",
      "tag": "hysteria2-nl",
      "server": "YOUR_VPS_IP",
      "server_port": 8443,
      "password": "YOUR_HY2_PASSWORD",
      "tls": {
        "enabled": true,
        "server_name": "YOUR_DOMAIN.nip.io"
      },
      "uuid": "YOUR_UUID"
    },
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "action": "hijack-dns",
        "inbound": "mixed-in",
        "protocol": "dns"
      },
      {
        "domain": [
          "1istochnik.ru",
          "1tv.ru",
          "24istochnik.ru",
          "2gis.ru",
          "360.yandex.ru",
          "3dnews.ru",
          "_balance.yandex.ru",
          "absolutbank.ru",
          "adfox.com",
          "advmaker.ru",
          "afisha.mail.ru",
          "afisha.yandex.ru",
          "agusha.ru",
          "aif.ru",
          "akbars.ru",
          "alfabank.ru",
          "alpha-rus.ru",
          "api.gosuslugi.ru",
          "api.mysber.ru",
          "api.ozon.ru",
          "api.sberbank.ru",
          "api.tinkoff.ru",
          "api.vtb.ru",
          "appmetrica.com",
          "auto.mail.ru",
          "avito.ru",
          "baby.ru",
          "babyblog.ru",
          "balance.ru",
          "bank-vtb.ru",
          "banner.rbc.ru",
          "beeline.ru",
          "beru.ru",
          "beta.gosuslugi.ru",
          "blogs.mail.ru",
          "bolshoyvopros.ru",
          "boom.ru",
          "bringly.ru",
          "bsrpm.ru",
          "calendar.yandex.ru",
          "campaign.ru",
          "capitalbank.ru",
          "cdn1.ozone.ru",
          "championat.com",
          "cian.ru",
          "citilink.ru",
          "clck.ru",
          "cloud.mail.ru",
          "connect.ok.ru",
          "delivery-club.ru",
          "depositphotos.com",
          "deti.mail.ru",
          "detityumen.ru",
          "dialogs.yandex.ru",
          "dir.ru",
          "disk.yandex.ru",
          "dns-shop.ru",
          "donday.com",
          "donday.ru",
          "drom.ru",
          "dtf.ru",
          "e.mail.ru",
          "eda.yandex.ru",
          "eldorado.ru",
          "esia.gosuslugi.ru",
          "flaticon.com",
          "fontanka.ru",
          "footballtv.ru",
          "forabank.ru",
          "free-icon-rainbow.com",
          "game.ru",
          "gamer.ru",
          "games.mail.ru",
          "gaming-world.ru",
          "gazeta.ru",
          "gazprombank.ru",
          "gosuslugi.ru",
          "gov.ru",
          "habr.com",
          "habr.ru",
          "hh.ru",
          "holodilnik.ru",
          "homecredit.ru",
          "interfax.ru",
          "it.ru",
          "ivi.ru",
          "ixbt.com",
          "kanobu.ru",
          "kino.mail.ru",
          "kinopoisk.ru",
          "kp.ru",
          "kupivip.ru",
          "lamoda.ru",
          "lavka.yandex.ru",
          "lenta.ru",
          "lentareklama.ru",
          "letto.ru",
          "life.ru",
          "lostfilm.tv",
          "love.mail.ru",
          "lpbank.ru",
          "m.ozon.ru",
          "m24.ru",
          "mail.ru",
          "market.yandex.ru",
          "matchtv.ru",
          "meduza.io",
          "megafon.ru",
          "megogo.net",
          "metrica.yandex.ru",
          "minbank.ru",
          "mkb.ru",
          "mobile.mail.ru",
          "money.yandex.ru",
          "mos.ru",
          "moscow.beeline.ru",
          "moscow.megafon.ru",
          "moskva.mts.ru",
          "mosreg.ru",
          "mts.ru",
          "mtu-net.ru",
          "music.mail.ru",
          "music.mts.ru",
          "music.vk.com",
          "music.yandex.ru",
          "mvideo.ru",
          "my.gosuslugi.ru",
          "my.mail.ru",
          "nedelya40.ru",
          "news.mail.ru",
          "news.ru",
          "novayagazeta.ru",
          "novikom.ru",
          "now.ru",
          "nsk.ru",
          "oauth.yandex.ru",
          "odnoklassniki.ru",
          "ok.ru",
          "okko.ru",
          "okko.tv",
          "online.alfabank.ru",
          "online.sberbank.ru",
          "online.tbank.ru",
          "onlinetrade.ru",
          "open.ru",
          "otvet.mail.ru",
          "overclockers.ru",
          "ozon.ru",
          "passport.yandex.ru",
          "playbaza.ru",
          "playgame.ru",
          "playground.ru",
          "playvk.com",
          "plus.yandex.ru",
          "pochta.ru",
          "pochtabank.ru",
          "pogoda.mail.ru",
          "poidem.ru",
          "pomogala.ru",
          "premierzal.ru",
          "progames.ru",
          "psbank.ru",
          "qiwi.com",
          "rabota.mail.ru",
          "raiffeisen.ru",
          "rambler.ru",
          "rb.ru",
          "rbc.ru",
          "regobank.ru",
          "rentv.ru",
          "rg.ru",
          "ria.ru",
          "rnkb.ru",
          "rns.online",
          "rol.ru",
          "rosbank.ru",
          "rostelecom.ru",
          "rrbbank.ru",
          "rshb.ru",
          "rt.ru",
          "ru.freepik.com",
          "russia.tv",
          "rutracker.org",
          "samokat.ru",
          "sber.ru",
          "sberbank.com",
          "sberbank.ru",
          "sberdevices.ru",
          "sbermarket.ru",
          "security.tinkoff.ru",
          "shop.mts.ru",
          "showtz.ru",
          "smart-lab.ru",
          "sneakerhead.ru",
          "snob.ru",
          "societe-generale.ru",
          "source.ru",
          "sovcombank.ru",
          "sovest.ru",
          "sovsport.ru",
          "spb.beeline.ru",
          "spb.megafon.ru",
          "sport-express.ru",
          "sportmaster.ru",
          "sports.ru",
          "start.ru",
          "start.twinkleapp.ru",
          "stopgame.ru",
          "swbank.ru",
          "tass.ru",
          "taxi.yandex.ru",
          "tbank.ru",
          "technopark.ru",
          "tele2.ru",
          "tinkoff.ru",
          "trud.ru",
          "tvigle.ru",
          "tvoboe.com",
          "tvport.ru",
          "tvzavr.ru",
          "tvzvezda.ru",
          "ura.news",
          "vc.ru",
          "venets.ru",
          "vintera.tv",
          "vk.com",
          "vkontakte.ru",
          "vm.ru",
          "vostbank.ru",
          "vtb.ru",
          "wayray.com",
          "weather.mail.ru",
          "webmaster.yandex.ru",
          "wildberries.ru",
          "winclient.ru",
          "wunderfreunde.com",
          "www.gosuslugi.ru",
          "ya.ru",
          "yandex.ru",
          "yandexadexchange.net",
          "yoomoney.ru",
          "zenit.ru",
          "zugvogel.ru",
          "zvezdapoisk.ru",
          "zvooq.com"
        ],
        "domain_suffix": [
          ".ru",
          ".su",
          ".рф"
        ],
        "action": "direct"
      },
      {
        "domain_suffix": [
          "googlevideo.com",
          "ytimg.com",
          "youtube.com",
          "youtu.be",
          "googleapis.com",
          "gstatic.com",
          "ggpht.com",
          "googleusercontent.com",
          "google.com",
          "google.ru",
          "invideo.api",
          "i.ytimg.com"
        ],
        "outbound": "auto"
      },
      {
        "domain": [
          "t.me",
          "telegram.org",
          "web.telegram.org"
        ],
        "outbound": "auto"
      },
      {
        "domain_suffix": [
          "discord.com",
          "discordapp.com",
          "discord.gg"
        ],
        "outbound": "auto"
      },
      {
        "domain_suffix": [
          "openai.com",
          "anthropic.com",
          "claude.ai",
          "x.ai",
          "gemini.google.com",
          "perplexity.ai"
        ],
        "outbound": "auto"
      },
      {
        "domain_suffix": [
          "twitter.com",
          "x.com",
          "facebook.com",
          "instagram.com",
          "whatsapp.com",
          "reddit.com"
        ],
        "outbound": "auto"
      },
      {
        "domain_suffix": [
          "twitch.tv",
          "netflix.com",
          "spotify.com",
          "steam.com",
          "steampowered.com",
          "steamcommunity.com",
          "aliexpress.com",
          "aliexpress.ru",
          "alibaba.com",
          "ae.aliexpress.com",
          "amazon.com",
          "amazon.co.uk",
          "amazon.de",
          "ebay.com",
          "paypal.com",
          "tiktok.com",
          "bytedance.com",
          "wikipedia.org",
          "wikimedia.org",
          "bing.com",
          "duckduckgo.com",
          "chatgpt.com",
          "oaistatic.com",
          "oaiusercontent.com",
          "github.com",
          "githubusercontent.com",
          "medium.com",
          "notion.so",
          "proton.me",
          "protonmail.com",
          "signal.org",
          "cloudflare.com",
          "fast.com",
          "speedtest.net"
        ],
        "outbound": "auto"
      },
      {
        "ip_is_private": true,
        "action": "direct"
      },
      {
        "ip_cidr": [
          "91.108.0.0/16",
          "149.154.0.0/16"
        ],
        "outbound": "auto"
      }
    ],
    "final": "auto",
    "default_domain_resolver": "local",
    "auto_detect_interface": true
  }
}